{% extends "base.html" %}

{% block content %}
  <h1>
    Shift
  </h1>
Products produced: {{ shift.products_produced }}
  <p><strong>Shift date:</strong> {{ shift.work_date }}</p>
  <p><strong>Products produced:</strong> {{ shift.products_produced }}</p>
  <p><strong>Foreman:</strong> {{ shift.foreman.first_name }}</p>
  <p><strong>Workmen:</strong>
    {% if shift.workman.all %}
      {% for workman in shift.workman.all %}
        <li>
            First name: {{ workman.first_name }} Duties: {{ workman.commitment.duties }}
        </li>
      {% endfor %}
    {% else %}
      <p>The are no workman</p>
    {% endif %}
  </p>
  <a href="{% url 'hall:shift-list' %}" class="btn btn-primary my-2">Back</a>
  </div>
{% endblock %}
