{% extends "base.html" %}

{% block content %}
  <h1>
    Work Commitments List
    <a style="float: right" href="{% url 'hall:work-commitments-create' %}">+</a>
  </h1>
  <ul>
    {% if work_commitments_list %}
      {% for work_commitments in work_commitments_list %}
        <li>
          Work commitments: {{ work_commitments.duties }} Price: {{ work_commitments.price }}
          <a class="btn btn-primary" href="{% url 'hall:work-commitments-update' pk=work_commitments.pk %}">Edite</a>
          <a class="btn btn-danger" href="{% url 'hall:work-commitments-delete' pk=work_commitments.pk %}">Delete</a>
        </li>
      {% endfor %}
    {% else %}
      <p>The are no work commitments</p>
    {% endif %}
  </ul>
{% endblock %}
